/* -------FEAUTURE------- */

.feauture {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    @media screen and (min-width: 480px) {
    background-color: var(--mobile-background);
    }
    @media screen and (min-width: 768px) {
    background-color: var(--title-text-color);
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        background-color: var(--title-text-color);        
    }
}

.feauture__item {
    margin-left: 30px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-wdith: 1200px) {
        flex-basis: calc((100% - 120px) / 4);
    }
}

.feauture__text {
    line-height: 1.71;
    color: var(--other-text-color);
}

.feauture__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
} 

.feauture__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--button-filter-color);
    height: 120px;
    margin-bottom: 30px;
} 