/* -------HEADER------- */

.header {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--title-text-color);
    @media screen and (min-width: 480px) {
        display: flex;
    }
}   

.website {
    display: flex;
}

.current::after {
    content: '';
    width: 100%;
    border-top: 4px solid var(--accent-text-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.website__item {
    position: relative;
    margin-right: 50px;
        &:last-child {
            margin-right: 0px;
            }
}

.all-contacts__icon--mail {
    fill: currentColor;
    @media screen and (min-width: 768px) {
        width: 14px;
        height: 10px;
        margin-right: 8px;    
    }
    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        display: flex;
        justify-content: space-around;
    }
}

.all-contacts__icon--number {
    fill: currentColor;
    @media screen and (min-width: 768px) {
        width: 10px;
        height: 14px;
        margin-right: 8px;
    }
    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
        margin-right: 10px;
    }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 25px;
    line-height: 1.16;
    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        margin-right: 93px;
        line-height: 1.19;
    }
}

.logo__accent {
    color: var(--accent-text-color);
}

.website__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: currentColor;
    padding-top: 32px;
    padding-bottom: 32px; 
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
        &:hover, &:focus {
            color: var(--accent-text-color);
        }
}

.website__link--current{
    color: var(--accent-text-color);
}

.all-contacts__link {
    color: var(--other-text-color);
    display: flex;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
        &:hover, &:focus {
            color: var(--accent-text-color);
        }
        @media screen and(min-width: 768px) {
            font-weight: 500;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            color: var(--other-text-color);
        }
        @media screen and (min-width: 1200px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--other-text-color);
        }
}

.all-contacts__item {
    margin-left: 50px;
        &:first-child {
            margin-left: 0px;
        }
        @media screen and(min-width: 768px) {
            margin-left: 0px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 0px;
            margin-right: 30px;
            &:last-child {
                margin-right: 0px;
            }
            
        }
}

.all-contacts {
    display: none;
    @media screen and(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and(min-width: 1200px) {
        display: flex;
    }
}

.header-nav {
    display: flex;
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 84px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 305px;
        flex-grow: 1;
    }
}

.header__container {
    align-items: center;
    display: flex;
}

.menu-open-btn {
    margin-left: auto;
    border: none;
    background-color: var(--title-text-color);
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.burger {
    display: block;
}
