/* -------HERO------- */

.hero__title {
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    letter-spacing: 0.06em;
    // text-transform: uppercase;
    color: var(--title-text-color);
    // display: flex;
    text-align: center;
    // justify-content: center;
    margin-bottom: 30px;
    @media screen and(max-width: 480px) {
        
    }
    @media (min-width: 480px) {
        font-size: 26px;
        line-height: 1.61;
        
        
    }
    @media screen and (min-width: 768px) {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

.hero {
    background-color: var(--background-color);
    // max-width: 1600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    // padding-top: 200px;
    // padding-bottom: 200px;
    @media screen and (min-width: 480px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-1x.jpg);
        width: 100%;
        padding-bottom: 118px;
        padding-top: 118px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
    }
}
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-1x.jpg);
        width: 100%;
        padding-bottom: 118px;
        padding-top: 118px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
    }
}
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-dt-1x.jpg);
        width: 100%;
        padding-bottom: 200px;
        padding-top: 200px;  
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-dt-2x.jpg);
    }    
}
}