.mob-menu {
    position: fixed;
    background-color: var(--title-text-color);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-button-closed {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    display: block;
    padding-top: 10px;
    padding-right: 15px;
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.closed {
    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }
}

.mob-menu-list__link {
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: currentColor;
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.mob-connect__tel {
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--accent-text-color);
display: block;
margin-bottom: 32px;
}

.mob-connect__mail {
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--other-text-color);
&:hover,
&:focus {
    color: var(--accent-text-color);
}
}

.mob-connect {
    margin-bottom: 64px;
}

.mob-menu-list__item {
    margin-bottom: 32px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.social-mob {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 48px;
}

.social-mob__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}

.social-mob__item {
    border-right: 1px solid rgba(33,33,33,0.2);
    padding-left: 10px;
    padding-right: 10px;
    &:last-child {
        border: none;
    }
    &:first-child {
        padding-left: 0px;
    }
}

.mob-menu-bottom {
    margin-top: auto;
}
.mob-menu-top {
    padding-top: 40px;
}