.container {
    // width: 1200px;
    // padding-left: 15px;
    // padding-right: 15px;
    // margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 480px) {
        width: 480px
    }
    @media screen and (min-width: 768px) {
        width: 768px

    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.container-mob {
@media screen and (min-width: 480px) {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
}

