
.section {
    
        padding-top: 60px;
        padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    @media screen and (min-width: 480px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.section--color {
    background-color: var(--mobile-background);
}