:root {
    --primary-text-color: #212121;
    --other-text-color: #757575;
    --accent-text-color: #2196F3;
    --title-text-color: #FFFFFF;
    --contact-text-color: rgba(255, 255, 255, 0.6);
    --background-color: #2F303A;
    --accent-background-color: #188ce8;
    --button-filter-color: #F5F4FA;
    --border-color: #ECECEC;
    --second-border-coolor: #EEEEEE;
    --team-icon-color: #AFB1B8;
    --color-icon: rgba(175, 177, 184, 1);
    --mobile-background: #ECECEC;
    --mobile-feaututre-background: #F5F4FA;
    --client-logo-color: #AFB1B8;
}